In [39]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler,StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import GridSearchCV

from xgboost import XGBRFRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [40]:
data = pd.read_csv('spotify_dataset.csv')

data['Release Date']=pd.to_datetime(data['Release Date'],infer_datetime_format=True,errors='coerce')
data['month']=data['Release Date'].dt.month

data=data.drop('Release Date',axis=1)

In [41]:
data['Artist Followers']=pd.to_numeric(data['Artist Followers'],errors='coerce')
data['Popularity']=pd.to_numeric(data['Popularity'],errors='coerce')
data['Danceability']=pd.to_numeric(data['Danceability'],errors='coerce')
data['Energy']=pd.to_numeric(data['Energy'],errors='coerce')
data['Loudness']=pd.to_numeric(data['Loudness'],errors='coerce')
data['Speechiness']=pd.to_numeric(data['Speechiness'],errors='coerce')
data['Acousticness']=pd.to_numeric(data['Acousticness'],errors='coerce')
data['Liveness']=pd.to_numeric(data['Liveness'],errors='coerce')
data['Tempo']=pd.to_numeric(data['Tempo'],errors='coerce')
data['Duration (ms)']=pd.to_numeric(data['Duration (ms)'],errors='coerce')
data['Valence']=pd.to_numeric(data['Valence'],errors='coerce')
data['Popularity']=pd.to_numeric(data['Popularity'],errors='coerce')

In [42]:
data = data.drop(['Index','Highest Charting Position','Number of Times Charted','Week of Highest Charting','Weeks Charted','Artist','Song Name','Streams','Song ID','Release Date','Chord'],axis=1)
data.head()

,Highest Charting Position,Number of Times Charted,Artist Followers,Genre,Popularity,Danceability,Energy,Loudness,Speechiness,Acousticness,Liveness,Tempo,Duration (ms),Valence
0,1,8,3377762.0,"['indie rock italiano', 'italian pop']",100.0,0.714,0.800,-4.808,0.0504,0.1270,0.3590,134.002,211560.0,0.589
1,2,3,2230022.0,['australian hip hop'],99.0,0.591,0.764,-5.484,0.0483,0.0383,0.1030,169.928,141806.0,0.478
2,1,11,6266514.0,['pop'],99.0,0.563,0.664,-5.044,0.1540,0.3350,0.0849,166.928,178147.0,0.688
3,3,5,83293380.0,"['pop', 'uk pop']",98.0,0.808,0.897,-3.712,0.0348,0.0469,0.3640,126.026,231041.0,0.591
4,5,1,5473565.0,"['lgbtq+ hip hop', 'pop rap']",96.0,0.736,0.704,-7.409,0.0615,0.0203,0.0501,149.995,212000.0,0.894

data = data.drop([''],axis=1)

In [44]:
data=data.dropna()

In [45]:
le_Genre =LabelEncoder()

data['Genre'] =le_Genre.fit_transform(data['Genre'])

In [46]:
x=data.drop('Popularity',axis=1)
y=data['Popularity']

In [47]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=33)

In [48]:
scaler =MinMaxScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [49]:
XGBR=XGBRFRegressor()
xgb_model=XGBR.fit(x_train,y_train)
xgb_model.score(x_test,y_test)

0.6337052702289346

In [48]:
xgb_model.predict([[0.011253,0.190840,0.798795,0.361530,0.728295,0.011180,0.799377,0.118115,0.203571,0.288661,0.670539]])

array([73.23669], dtype=float32)

In [46]:
pd.DataFrame(x_train)

,0,1,2,3,4,5,6,7,8,9,10
0,0.011253,0.190840,0.798795,0.361530,0.728295,0.011180,0.799377,0.118115,0.203571,0.288661,0.670539
1,0.180172,0.964377,0.725301,0.599073,0.747878,0.029813,0.317883,0.058686,0.382585,0.276543,0.982049
2,0.104002,0.458015,0.850602,0.623407,0.792870,0.208105,0.122405,0.432240,0.337652,0.362521,0.752904
3,0.053249,0.394402,0.725301,0.465817,0.643184,0.265168,0.550400,0.089462,0.203915,0.344437,0.408659
4,0.075527,0.404580,0.802410,0.609502,0.746272,0.233725,0.136809,0.052531,0.235695,0.208909,0.720169
...,...,...,...,...,...,...,...,...,...,...,...
1153,0.088247,0.134860,0.826506,0.595597,0.806779,0.032724,0.174875,0.317627,0.527796,0.363511,0.880676
1154,0.014958,1.000000,0.530120,0.234067,0.375345,0.007802,0.919751,0.127666,0.275112,0.116581,0.541711
1155,0.205110,0.447837,0.606024,0.653534,0.686216,0.019797,0.158414,0.092646,0.289712,0.378266,0.553326
1156,0.046315,0.882952,0.442169,0.863268,0.822295,0.031210,0.005951,0.206198,0.231570,0.326612,0.419219
1157,0.434076,0.791349,0.903614,0.579374,0.759076,0.045767,0.413565,0.121299,0.470616,0.289952,0.836325